body{
    margin: 0;
    padding: 0;
    background-color: #f0f2;
}

h1{
    text-align: center;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 columnas de igual ancho */
    grid-gap: 20px; /* Espacio entre las imágenes */
    flex-wrap: wrap;
    padding: 20px;
    width: 900px;
    height: 400px;
    overflow-y: scroll;
    margin: auto;
}

.gallery-item{
    width: 200px;
    height: 200px;
    background-color: #f0f2; /* Color de fondo de las imágenes */
    border: 1px solid #ddd; /* Borde de las imágenes */
    flex: 2 4 300px;
    min-width: 200px;
    border-radius: 5px;
}

.gallery-item:nth-last-child(2),
.gallery-item:nth-last-child(1) {
  width: 400px;
  height: 400px;
  grid-column: span 2;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ... Resto de tus estilos */